@import url(https://fonts.google.com/specimen/Inter);
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --darkgrey: hsl(0, 0%, 12%);
  --offblack: hsl(0, 0%, 8%);
}

.inter-text {
  font-family: "Inter", sans-serif; /* Set the font family to Inter and fallback to sans-serif */
  font-optical-sizing: auto; /* Enable automatic optical sizing for better legibility */
  font-weight: 400; /* Set the font weight to 400 (normal) */
  font-style: normal; /* Set the font style to normal */
  font-variation-settings: "slnt" 0; /* Set the slant variation to 0 (normal) */
}


body {
  background-color: var(--offblack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--darkgrey);
  width: 350px;
  height: 640px;
  border-radius: 20px;
  position: fixed;
  top: 70px;
}

.logo {
  width: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 20px;
  position: absolute;
  top: 40px;
}

.head {
  position: absolute;
  color: var(--white);
  font-size: 32px;
  top: 130px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.sub1 {
  color: var(--green);
  position: absolute;
  top: 190px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.sub2 {
  color: var(--white);
  position: absolute;
  top: 230px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.nav {
  width: 80%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top:125px;


  
}
button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  width: 300px;
  padding-top: 6%;
  padding-bottom: 6%;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--grey);
  border: none;
  color: var(--white);
  font-size: 16px;
  font-family:  "Inter", sans-serif;
  font-weight: 400;
  white-space: nowrap;
 }

button:hover{
  background-color: var(--green);
  border-radius: 10px;
  color: var(--grey);
}

a{
  text-decoration: none;
}






